*.swp
*.pyc
outputs
outputsA
outputsB
outputsC
outputsD
test_output
AugmentedDatasets
tmp
test.py

my_cuda/build
my_cuda/dist
my_cuda/fw_cuda.egg-info
my_cuda/core*

datasets
adjusted_RAFT/datasets
adjusted_RAFT/runs
adjusted_RAFT/checkpoints

adjusted_gmflow/datasets
adjusted_gmflow/checkpoints

